/**
font-family: 'Noticia Text', serif;
font-family: 'BioRhyme', serif;
font-family: 'Tangerine', cursive;
**/

/** BASE STYLING **/

ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
}


.main-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}


/** COLOR SETTINGS **/

header{
	background-color: #525C29;
}

footer{
	background-color: #A68059;
}

/** TYPOGRAPHY SETTINGS **/

.article h2{
	flex-direction: column;
	font-family: 'Noticia Text', serif;

}

.article img{
		width: 80%;
		height: auto;
		text-align: center;
	}

.aside-first ul{
	font-family: 'BioRhyme', serif;

}

.aside-second h3{
	font-family: 'Noticia Text', serif;

}

.aside-second ul{
	font-family: 'BioRhyme', serif;

}



/**  HEADER **/


header{
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 100%;

}

header > h2{
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 4em;
	align-self: center;
	flex: 0;
	}

.navbar{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'BioRhyme', serif;
	font-size: 2em;


}

.navbar li{
	text-align: center;
	margin-bottom: 1em;

}


/** MAIN CONTAINER **/
article{
	display: flex;
	flex-direction: column;
	align-self: center;
	padding-left: 1em;
	padding-right: 1em;
}

.aside-first{
	flex: 0;
	order: 2;

	display: flex;
	flex-direction: row;
	align-self: center;
	text-align: center;


}




.aside-second{
	flex: 0;
	order: 3;
	align-self: center;
	text-align: center;

}



.article{
	flex: 2;
	order: 1;

	align-self: center;

}



/** FOOTER **/

footer{
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-self: center;
	width: 100%;
	text-align: center;
}

footer h3{
	font-family: 'Noticia Text', serif;
	align-self: center;
	text-align: center;


}

footer ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-self: center;
	font-family: 'BioRhyme', serif;

}


/** MEDIA QUERIES **/



@media (min-width: 750px){
	
	.article img{
		width: 90%;
		height: auto;
	}

	.main-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
	}


	header{
		display:flex;
		flex: 0;
		flex-direction: row;
		align-self: flex-start;
		height: 5em;

	}

	header h2{
		font-size: 2em;
		text-align: center;
		flex: 0 250px;
	}

	.navbar{
		flex: 1;

		display: flex;
		flex-direction: row;
		align-self: center;
		justify-content: space-evenly;
		font-size: 1em;

	}

	.navbar li{
		text-align: center;
	}



	/** MAIN CONTAINER **/
	article{
		display: flex;
		flex: 2;
		flex-direction: row;
		align-self: flex-start;
		overflow-y: scroll;

	}

	.aside-first{
		flex: 0;
		order: 0;
		align-self: flex-start;
		display: flex;
		flex-direction: row;
		text-align: left;

	}

	.aside-second{
		flex: 0;
		order: 2;
		align-self: flex-start;
		text-align: right;

	}	


	.article{
		padding-left: 2em;
		padding-right: 2em;
		align-self: flex-start;
		flex: 2;
		order: 1;
	}


/** FOOTER **/

	footer{
		display:flex;
		flex: 0;
		flex-direction: row;
		align-self: flex-start;


	}

	footer h3{
		flex: 0 100px;
		text-align: center;
	}

	footer ul{
		flex: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	footer ul li{
		align-self: center;
		text-align: center;
	}
	





}





